<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Townmanager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<div th:replace="controlls/navbar :: navbar"></div>

	<div class="container">

		<div class="starter-template">
			<h1>
				<span th:text="'Welcome to ' + ${town.name}">town</span>
			</h1>
			<!-- 			<h2> -->
			<!-- 				<span th:text="'Message: ' + ${message}">NoMessage</span> -->
			<!-- 			</h2> -->
			<span th:text="'Town: ' + ${town}">town</span>


			<div class="container">
				<h2>Storage</h2>
				<p>
					Resources in the storage of <span th:text="${town.name}"></span>:
				</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Resource</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Wood</td>
							<td th:text="${town.storage.wood}">88</td>
						</tr>
						<tr>
							<td>Stone</td>
							<td th:text="${town.storage.stone}">88</td>
						</tr>
						<tr>
							<td>Wood</td>
							<td th:text="${town.storage.food}">88</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="container">
				<h2>Buildings</h2>
				<p>
					Buildings in <span th:text="${town.name}"></span>:
				</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Building</th>
							<th>Level</th>
							<th>Zustand</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="building: ${town.buildings}">
							<td th:text="${building.name}">John</td>
							<td th:text="${building.level.levelValue}">John</td>
							<td th:text="${building.zustand}">John</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>