<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Townmanager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<div th:replace="controlls/navbar :: navbar"></div>

	<div class="container">

		<div class="starter-template">
			<h1>
				<span th:text="'Welcome to ' + ${town.name}">town</span>
			</h1>

			<div class="container">
				<h2>Storage</h2>
				<p>
					Ressources in the storage of <span th:text="${town.name}"></span>:
				</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Ressource</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="building: ${town.storage.getResources()}">
							<td th:text="${building.key}">John</td>
							<td th:text="${building.value}">John</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="container">
				<h2>Buildings</h2>
				<p>
					Buildings in <span th:text="${town.name}"></span>:
				</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Building</th>
							<th>Level</th>
							<th>Zustand</th>
							<th>Resources Needed</th>
							<th>Upgrade</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="building: ${town.buildings}">
							<td th:text="${building.name}">John</td>
							<td th:text="${building.level.levelValue}">John</td>
							<td th:text="${building.zustand}">John</td>
							<td th:text="${@buildingManager.getBuildingCosts(building.name, building.level)}">John</td>
							<td>
								<form class="form-inline" action="#"
									th:action="@{/building/upgrade/{path}(path=${building.id})}"
									method="post">
									<button type="submit" class="btn btn-default">Upgrade</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>