<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Townmanager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<div th:replace="controlls/navbar :: navbar"></div>

	<div class="container">

		<div class="starter-template">
			<h1>
				<span th:text="'Worker from ' + ${town.name}">town</span>
			</h1>

			<div class="container">
				<h2>Worker</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Worker</th>
							<th>Task</th>
							<th>Duration</th>
							<th>health</th>
							<th>age</th>
							<th>Exp</th>
							<th>level</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="worker: ${town.minions}">
							<td th:text="${worker.name}">John</td>
							<td th:text="${worker.task.getDescription()}">John</td>
							<td th:text="${worker.task.duration}">John</td>
							<td th:text="${worker.health} + '/' + ${worker.maxHealth}">John</td>
							<td th:text="${worker.age}">John</td>
							<td th:text="${worker.exp} + '/' + ${@minionManager.getExpForNextLevel(worker)}">John</td>
							<td th:text="${worker.level}">John</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- /.container -->

	<div class="container">
		<form class="form-inline" action="#"
			th:action="@{/workers/sendWorker}" th:object="${sendWorker}" method="post">
			<div class="form-group">
				<label for="idleMinion">Select Minion:</label> 
				<select	class="form-control" th:field="*{idleMinionId}">
					<option th:each="minion: ${idleMinions}" th:value="${minion.id}" th:text="${minion.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="building">Select Building:</label> <select
					class="form-control" th:field="*{buildingId}">
					<option th:each="building: ${@townManager.getBuildingsToWorkAt()}" th:value="${building.id}" th:text="${building.name}"></option>
					<option th:value="-1" th:text="Rest"></option>
				</select>
			</div>
			<button type="submit" class="btn btn-default">Send to work!</button>
		</form>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>